ep_exp-1/WebContent/exp_2.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT students_info (student+)>
<!ELEMENT student (id, regno, name, avg, dob, time, mobileno)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT regno (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT avg (#PCDATA)>
<!ELEMENT dob (#PCDATA)>
<!ELEMENT time (#PCDATA)>
<!ELEMENT mobileno (#PCDATA)>
<!ATTLIST mobile no ID #REQUIRED>